sudo: false
language: node_js
node_js:
  - stable
services:
  - mysql
env:
  - NODE_ENV=test
before_script:
  - mysql -e 'create database test;use test;create TABLE test.test (id INT(11) NOT NULL);INSERT INTO test VALUES (1)'
after_script:
  - npm run coveralls